.banner {
  background: linear-gradient(1.32deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);;
}

.banner__content {
  display: flex;
  gap: 67px;
}

.banner__img {
  width: 50%;
}

.banner__img img {
  height: 100%;
  object-fit: cover;
}

.banner__text {
  max-width: 665px;
  padding: 130px 0 156px;
}

.banner__title {
  padding-bottom: 33px;
  font-weight: 900;
  font-size: 111.608px;
  line-height: 1.23;
  display: flex;
  flex-direction: column;
}

.banner__hightlite {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.banner__hightlite::before {
  content: '';
  position: absolute;
  width: 541.43px;
  height: 130.37px;
  left: -20px;
  top: 0;
  background: var(--white-color);
  transform: matrix(1, -0.03, 0.03, 1, 0, 0);
  z-index: -1;
}

.banner__subtitle {
  padding-bottom: 52px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 36.0402px;
  line-height: 1.45;
  letter-spacing: -0.02em;
}

.banner__subtitle .banner__bold {
  padding-top: 40px;
  font-weight: 700;
}